.goal-tiles #goal-1,
.goal-tiles .goal-icon-1 {
  background-color: transparent;
}

.goal-tiles #goal-2,
.goal-tiles .goal-icon-2 {
  background-color: transparent;
}

.goal-tiles #goal-3,
.goal-tiles .goal-icon-3 {
  background-color: transparent;
}

.goal-tiles #goal-4,
.goal-tiles .goal-icon-4 {
  background-color: transparent;
}

.goal-tiles #goal-5,
.goal-tiles .goal-icon-5 {
  background-color: transparent;
}

.goal-tiles #goal-6,
.goal-tiles .goal-icon-6 {
  background-color: transparent;
}

.goal-tiles #goal-7,
.goal-tiles .goal-icon-7 {
  background-color: transparent;
}

.goal-tiles #goal-8,
.goal-tiles .goal-icon-8 {
  background-color: transparent;
}

.goal-tiles #goal-9,
.goal-tiles .goal-icon-9 {
  background-color: transparent;
}

.goal-tiles #goal-10,
.goal-tiles .goal-icon-10 {
  background-color: transparent;
}
.goal-tiles #goal-11,
.goal-tiles .goal-icon-11 {
  background-color: transparent;
}
.goal-tiles #goal-12,
.goal-tiles .goal-icon-12 {
  background-color: transparent;
}
.goal-tiles #goal-13,
.goal-tiles .goal-icon-13 {
  background-color: transparent;
}
.goal-tiles #goal-14,
.goal-tiles .goal-icon-14 {
  background-color: transparent;
}
.goal-tiles #goal-15,
.goal-tiles .goal-icon-15 {
  background-color: transparent;
}
.goal-tiles #goal-16,
.goal-tiles .goal-icon-16 {
  background-color: transparent;
}
.goal-tiles #goal-17,
.goal-tiles .goal-icon-17 {
  background-color: transparent;
}
.goal-tiles #goal-18,
.goal-tiles .goal-icon-18 {
  background-color: transparent;
}
